body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: cadetblue;
}

img {
    width: 300px;
}

.letterRow {
    display: flex;
    justify-content: center;
}

.letter {
    width: 30px;
    height: 25px;
    margin: 2px;
    padding: 0px;

    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
}
.letter:hover{
    background-color:rgb(255, 193, 250);
}
.letter:active{
    background-color: magenta;
}

#selectBtn {
    margin: 10px;
    height: 25px;
    width: 120px; 
    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
}
#selectBtn:hover{
    background-color:rgb(255, 193, 250);

}

#hintText {
    text-transform: uppercase;
}

/* MUSIC STUFF
#audioControls {
    display: flex;
    margin: 12px;
}*/