body{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: cadetblue;
}

img{
    width: 300px;
}

#audioControls{
    display: flex;
    margin: 12px;
}

.letterRow{
    display: flex;
    justify-content: center;
}
.letter{
    width: 30px;
    height: 20px;
    margin: 2px;
    padding: 2px;

    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}
#guessBtn{
    margin: 10px;
}